<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="inputForm" method="GET">
                <i class="fas fa-search" id="logoSearch"></i><input class="input" type="text" name="buscador" placeholder="Buscar producatos, marcas y mas">
            </div>
            <div class="frace-header">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
            </div>
        </div>

        <nav>
           <ul class="menu">
               <li><a href="#">Ofertas</a></li>
               <li><a href="#">Tiendas Oficiales</a></li>
               <li><a href="#">Vender</a></li>
               <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="menu">
               <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"> </i></li>
               <li><a href="/login">Ingresá</a> <i class="fas fa-sign-out-alt"></i> </li>
               <li><a href="#">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
           </ul>
        </nav>
        
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main class="login">
        <form action="/" method="POST">
            <div class="ingresa">
                <input id="input" type="text" name="user" placeholder="Nombre de usuario" >
                <input id="input" type="password" name="pass" placeholder="Elegí tu contraseña">
            </div>
            <input class="boton" type="submit" value="Ingresa">
        </form>
    </main>

    <footer>
        <div class="main-footer">
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con targeta de credito o en efectivo</h3>
                <p>Con mercado Liebre Cash, tenés cuotas sin interés p efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>          
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>